</div>
<footer class="footerContainer">
    <div class="footerContainer__copyright">
        Kevin Antonietti - 2023
    </div>
</footer>
<script src="/js/colorMode.js"></script>
</div>
    </body>
        </html>
