</div>
<div class="footerContainer">
    <div class="footerContainer__copyright">
        Kevin Antonietti - 2023
    </div>
</div>
<script src="/js/colorMode.js"></script>
    </body>
        </html>
