<section class="presentation">
    <h1 class="presentation__title">
            <p> Kevin Antonietti </p>
            <p> Développeur frontend </p> 
            <p>Javascript,</p>
            <p> React, Node.js</p> 
    </h1>

    <div class="presentation__description">
        <span class="presentation__description__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, delectus totam. Aliquam deleniti, dolorum, ipsa voluptatem recusandae ipsam ab provident blanditiis quia distinctio necessitatibus voluptas, molestiae maiores possimus! Ipsam, eum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis suscipit similique, repellat rem corporis quaerat quia velit consequatur.
        </span>
        <span class="presentation__description__link">En savoir plus ></span>
    </div>
</section>