<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Portfolio Kevin Antonietti</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="/" class="header__logo">
          <svg
            alt="Logo de Kevin Antonietti"
            class="header__logo__svg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 106.9 36.22"
          >
            <g>
              <path
                d="M22.65,0h-6.51c-.13,0-.26,.06-.35,.16L6.61,9.95c-.3,.32-.83,.11-.83-.33V.56c0-.27-.22-.48-.48-.48H.48C.22,.07,0,.29,0,.56V35.74c0,.27,.22,.48,.48,.48H5.3c.27,0,.48-.22,.48-.48v-15.98c0-.12,.05-.24,.13-.33L23.01,.81C23.29,.5,23.07,0,22.65,0Z"
              />
              <path
                d="M12.32,16.99l1.29,4.81c.08,.31-.15,.61-.47,.61h-4.14c-.27,0-.48,.22-.48,.48v4.82c0,.27,.22,.48,.48,.48h5.95c.22,0,.41,.15,.47,.36l1.96,7.32c.06,.21,.25,.36,.47,.36h5c.32,0,.55-.3,.46-.61l-6.2-23.1c-.1-.37-.56-.48-.82-.2l-3.84,4.22c-.11,.12-.15,.29-.11,.45Z"
              />
              <g>
                <path
                  d="M41.01,16.86h-2.58l-2.81-4.52-.96,.69v3.83h-2.28V6.13h2.28v4.91l.9-1.26,2.91-3.65h2.53l-3.74,4.75,3.77,5.98Z"
                />
                <path
                  d="M45.89,17.01c-1.32,0-2.35-.36-3.1-1.09s-1.12-1.76-1.12-3.1,.34-2.44,1.03-3.19,1.64-1.13,2.85-1.13,2.06,.33,2.71,.99,.97,1.57,.97,2.74v1.09h-5.29c.02,.64,.21,1.13,.57,1.49s.85,.54,1.48,.54c.49,0,.96-.05,1.4-.15s.9-.27,1.38-.49v1.73c-.39,.2-.81,.34-1.26,.44s-.99,.14-1.63,.14Zm-.32-6.92c-.47,0-.85,.15-1.12,.45s-.42,.73-.46,1.28h3.14c0-.55-.15-.98-.43-1.28s-.66-.45-1.13-.45Z"
                />
                <path
                  d="M52.99,16.86l-3.13-8.21h2.34l1.59,4.68c.18,.59,.29,1.15,.33,1.68h.04c.02-.47,.13-1.03,.33-1.68l1.58-4.68h2.34l-3.13,8.21h-2.3Z"
                />
                <path
                  d="M59.48,6.53c0-.73,.41-1.09,1.22-1.09s1.22,.36,1.22,1.09c0,.35-.1,.62-.3,.81s-.51,.29-.91,.29c-.81,0-1.22-.37-1.22-1.1Zm2.33,10.33h-2.24V8.65h2.24v8.21Z"
                />
                <path
                  d="M71.73,16.86h-2.24v-4.79c0-.59-.11-1.04-.32-1.33s-.55-.44-1.01-.44c-.63,0-1.08,.21-1.36,.63s-.42,1.11-.42,2.08v3.86h-2.24V8.65h1.71l.3,1.05h.12c.25-.4,.59-.7,1.03-.9s.94-.3,1.49-.3c.95,0,1.68,.26,2.17,.77s.74,1.26,.74,2.24v5.35Z"
                />
                <path
                  d="M38.95,30.64l-.78-2.55h-3.91l-.78,2.55h-2.45l3.79-10.78h2.78l3.8,10.78h-2.45Zm-1.32-4.46c-.72-2.31-1.12-3.62-1.21-3.93s-.16-.54-.19-.72c-.16,.63-.62,2.18-1.39,4.65h2.8Z"
                />
                <path
                  d="M50.14,30.64h-2.24v-4.79c0-.59-.11-1.04-.32-1.33s-.55-.44-1.01-.44c-.63,0-1.08,.21-1.36,.63s-.42,1.11-.42,2.08v3.86h-2.24v-8.21h1.71l.3,1.05h.12c.25-.4,.59-.7,1.03-.9s.94-.3,1.49-.3c.95,0,1.68,.26,2.17,.77s.74,1.26,.74,2.24v5.35Z"
                />
                <path
                  d="M55.88,29c.39,0,.86-.09,1.41-.26v1.67c-.56,.25-1.24,.37-2.06,.37-.9,0-1.55-.23-1.96-.68s-.61-1.13-.61-2.04v-3.96h-1.07v-.95l1.23-.75,.65-1.73h1.43v1.75h2.3v1.68h-2.3v3.96c0,.32,.09,.55,.27,.7s.41,.23,.71,.23Z"
                />
                <path
                  d="M66.4,26.52c0,1.34-.35,2.38-1.06,3.13s-1.69,1.13-2.94,1.13c-.79,0-1.48-.17-2.08-.52s-1.06-.84-1.39-1.49-.48-1.4-.48-2.26c0-1.34,.35-2.38,1.05-3.13s1.68-1.12,2.95-1.12c.79,0,1.48,.17,2.08,.51s1.06,.83,1.39,1.48,.48,1.39,.48,2.25Zm-5.67,0c0,.81,.13,1.43,.4,1.84s.7,.62,1.3,.62,1.03-.21,1.29-.62,.39-1.03,.39-1.85-.13-1.42-.4-1.83-.7-.61-1.3-.61-1.03,.2-1.29,.61-.4,1.01-.4,1.83Z"
                />
                <path
                  d="M75.81,30.64h-2.24v-4.79c0-.59-.11-1.04-.32-1.33s-.55-.44-1.01-.44c-.63,0-1.08,.21-1.36,.63s-.42,1.11-.42,2.08v3.86h-2.24v-8.21h1.71l.3,1.05h.12c.25-.4,.59-.7,1.03-.9s.94-.3,1.49-.3c.95,0,1.68,.26,2.17,.77s.74,1.26,.74,2.24v5.35Z"
                />
                <path
                  d="M78,20.31c0-.73,.41-1.09,1.22-1.09s1.22,.36,1.22,1.09c0,.35-.1,.62-.3,.81s-.51,.29-.91,.29c-.81,0-1.22-.37-1.22-1.1Zm2.33,10.33h-2.24v-8.21h2.24v8.21Z"
                />
                <path
                  d="M86.39,30.79c-1.32,0-2.35-.36-3.1-1.09s-1.12-1.76-1.12-3.1,.34-2.44,1.03-3.19,1.64-1.13,2.85-1.13,2.06,.33,2.71,.99,.97,1.57,.97,2.74v1.09h-5.29c.02,.64,.21,1.13,.57,1.49s.85,.54,1.48,.54c.49,0,.96-.05,1.4-.15s.9-.27,1.38-.49v1.73c-.39,.2-.81,.34-1.26,.44s-.99,.14-1.63,.14Zm-.32-6.92c-.47,0-.85,.15-1.12,.45s-.42,.73-.46,1.28h3.14c0-.55-.15-.98-.43-1.28s-.66-.45-1.13-.45Z"
                />
                <path
                  d="M95,29c.39,0,.86-.09,1.41-.26v1.67c-.56,.25-1.24,.37-2.06,.37-.9,0-1.55-.23-1.96-.68s-.61-1.13-.61-2.04v-3.96h-1.07v-.95l1.23-.75,.65-1.73h1.43v1.75h2.3v1.68h-2.3v3.96c0,.32,.09,.55,.27,.7s.41,.23,.71,.23Z"
                />
                <path
                  d="M101.51,29c.39,0,.86-.09,1.41-.26v1.67c-.56,.25-1.24,.37-2.06,.37-.9,0-1.55-.23-1.96-.68s-.61-1.13-.61-2.04v-3.96h-1.07v-.95l1.23-.75,.65-1.73h1.43v1.75h2.3v1.68h-2.3v3.96c0,.32,.09,.55,.27,.7s.41,.23,.71,.23Z"
                />
                <path
                  d="M104.47,20.31c0-.73,.41-1.09,1.22-1.09s1.22,.36,1.22,1.09c0,.35-.1,.62-.3,.81s-.51,.29-.91,.29c-.81,0-1.22-.37-1.22-1.1Zm2.33,10.33h-2.24v-8.21h2.24v8.21Z"
                />
              </g>
            </g>
          </svg>
        </a>
        <div class="header__lightMode" id="btn-mode" type="btn">
          <svg
            class="header__lightMode__svg"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="Typo">
              <path
                d="m33.24,19.31h-5.93c-.21,0-.38.17-.38.38v17.72c0,.21-.17.38-.38.38h-2.94c-.21,0-.38-.17-.38-.38v-17.72c0-.21-.17-.38-.38-.38h-5.88c-.21,0-.38-.17-.38-.38v-2.24c0-.21.17-.38.38-.38h16.28c.21,0,.38.17.38.38v2.24c0,.21-.17.38-.38.38Z"
              />
              <path
                d="m51.79,16.3c.21,0,.38.17.38.38v13.98c0,2.28-.73,4.09-2.19,5.43-1.46,1.33-3.41,2-5.84,2s-4.42-.66-5.86-1.97-2.17-3.14-2.17-5.47v-13.97c0-.21.17-.38.38-.38h2.95c.21,0,.38.17.38.38v14c0,1.44.36,2.53,1.09,3.29s1.8,1.14,3.22,1.14c2.87,0,4.31-1.52,4.31-4.55v-13.88c0-.21.17-.38.38-.38h2.95Z"
              />
              <path
                d="m63.82,29.52h-3.55c-.21,0-.38.17-.38.38v7.5c0,.21-.17.38-.38.38h-2.97c-.21,0-.38-.17-.38-.38v-20.73c0-.21.17-.38.38-.38h7.18c2.48,0,4.4.56,5.74,1.67,1.35,1.11,2.02,2.72,2.02,4.83,0,1.44-.35,2.64-1.04,3.61-.62.87-1.47,1.57-2.54,2.08-.2.09-.27.33-.17.53l4.63,8.59v.19h-3.77c-.14,0-.27-.08-.34-.21l-4.1-7.86c-.07-.13-.2-.21-.34-.21Zm-3.93-3.4c0,.21.17.38.38.38h3.45c1.26,0,2.24-.32,2.95-.95s1.06-1.5,1.06-2.61-.33-2.04-.98-2.67c-.65-.63-1.63-.95-2.93-.97h-3.56c-.21,0-.38.17-.38.38v6.44Z"
              />
              <path
                d="m91.7,37.79h-3.14c-.13,0-.25-.07-.33-.18l-8.76-13.94c-.21-.33-.71-.18-.71.2v13.54c0,.21-.17.38-.38.38h-2.97c-.21,0-.38-.17-.38-.38v-20.73c0-.21.17-.38.38-.38h3.14c.13,0,.26.07.33.18l8.79,14c.2.33.71.18.71-.2v-13.59c0-.21.17-.38.38-.38h2.94c.21,0,.38.17.38.38v20.73c0,.21-.17.38-.38.38Z"
              />
              <path
                d="m121.18,27.61c0,2.11-.36,3.95-1.09,5.54s-1.77,2.81-3.12,3.66c-1.35.85-2.91,1.28-4.67,1.28s-3.3-.43-4.66-1.28c-1.36-.85-2.42-2.06-3.16-3.64-.74-1.57-1.12-3.39-1.13-5.45v-1.21c0-2.1.37-3.95,1.11-5.55.74-1.6,1.79-2.83,3.15-3.68,1.35-.85,2.91-1.28,4.66-1.28s3.3.42,4.66,1.26,2.4,2.05,3.14,3.63c.74,1.58,1.11,3.42,1.12,5.51v1.2Zm-3.74-1.12c0-2.38-.45-4.21-1.35-5.48-.9-1.27-2.18-1.9-3.83-1.9s-2.88.63-3.79,1.9c-.91,1.27-1.38,3.05-1.4,5.37v1.24c0,2.36.46,4.19,1.38,5.48.92,1.29,2.2,1.93,3.83,1.93s2.93-.63,3.82-1.89c.89-1.26,1.34-3.1,1.34-5.52v-1.12Z"
              />
              <path
                d="m141.58,37.79h-3.14c-.13,0-.25-.07-.33-.18l-8.76-13.94c-.21-.33-.71-.18-.71.2v13.54c0,.21-.17.38-.38.38h-2.97c-.21,0-.38-.17-.38-.38v-20.73c0-.21.17-.38.38-.38h3.14c.13,0,.26.07.33.18l8.79,14c.2.33.71.18.71-.2v-13.59c0-.21.17-.38.38-.38h2.94c.21,0,.38.17.38.38v20.73c0,.21-.17.38-.38.38Z"
              />
            </g>
            <g id="Underline">
              <polyline
                points="32.27 18.01 25.17 18.01 18.05 18.01 25.17 18.01 25.17 36.78"
              />
              <path
                d="m37.87,18.01v14s.35,4.46,6.34,4.46,5.99-3.71,5.99-3.71v-14.75"
              />
              <path
                d="m69.71,36.47l-4.38-8.43h-8.17,8.17s4.16-.18,4.16-5.13c0-5.22-4.61-5.22-4.61-5.22h-7.19v18.79"
              />
              <path
                d="m76.61,36.47l.4-17.63c0-.4.52-.55.74-.22l11.93,17.17c.15.21.48.11.48-.15v-17.95"
              />
              <path
                d="m126.66,36.43l.18-18.06c0-.4.52-.55.74-.22l12.14,17.6c.15.21.48.11.48-.15v-17.95"
              />
              <path
                d="m112.34,17.64s-7.25-.26-7.25,9.6,6.73,9.23,6.73,9.23c0,0,7.85.59,7.85-9.28s-7.34-9.55-7.34-9.55Z"
              />
            </g>
            <rect
              id="rectangle"
              x="7"
              y="7"
              width="145.5"
              height="40"
              rx="12.15"
              ry="12.15"

            />
            <rect
              id="rectangle-underline"
              x="7"
              y="7"
              width="145.5"
              height="40"
              rx="12.15"
              ry="12.15"
            />
          </svg>
        </div>

        <nav class="header__nav">
          <a class="header__nav__item" href="/">home</a>
          <a class="header__nav__item" href="/projets">projets</a>
          <a class="header__nav__item" href="/about">à propos</a>
          <a class="header__nav__item" href="/contact">contact</a>
        </nav>
      </header>
    </div>
  </body>
</html>
