<%- include('partials/header') %>
<div class="aboutPage">
  <section class="aboutPage__header">
    <div class="aboutPage__header__left">
      <div class="aboutPage__header__left__up">
        <h1>
          Kevin Antonietti &nbsp; Développeur frontend &nbsp; Javascript, &nbsp;
          React, Node.js
        </h1>
      </div>

      <div class="aboutPage__header__left__down">
        <div class="aboutPage__header__left__down__img">
          <img src="img/photoPerso.webp" alt="" />
        </div>

        <span class="aboutPage__header__left__down__description">
          Au cours de ma carrière de 8 ans en tant que directeur artistique,
          j'ai eu l'opportunité de travailler avec de nombreuses structures.
          <br /><br />
          J'ai réalisé une grande variété de projets, allant de la réalisation
          de campagnes de relations presse à la création de contenu de
          communication sur les réseaux sociaux.
          <br /><br />
          J'ai également enseigné le motion design et la PAO pendant trois ans à
          l'ISCOM Lyon. C'est en travaillant avec des développeurs que j'ai
          réalisé mon intérêt pour ce domaine, j’ai donc décidé de me
          réorienter.
          <br /><br />
          Après avoir suivi une formation de six mois, je suis maintenant à la
          recherche d'une entreprise pour vivre ma première expérience de
          développeur.
        </span>
      </div>
    </div>
    <%- include('partials/navSide') %>
  </section>

  <div class="aboutPage__experience">
    <div class="aboutPage__experience__formation">
      <h2 class="aboutPage__experience__title">Formations</h2>
      <div class="separation"></div>

      <div class="aboutPage__experience__structure">
        <h3 class="aboutPage__experience__structure__name">O'clock</h3>
        <p class="aboutPage__experience__structure__date">
          Juillet 2022 - Decembre 2022
        </p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__poste">
        <h4 class="aboutPage__experience__poste__name">
          Titre Professionnel de Développeur Web et Web Mobile, niveau 5 (bac+2)
        </h4>
        <p class="aboutPage__experience__poste__city">Télépresentiel</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__informations">
        <ul>
          <li>800h en 6 mois :</li>
          <li>4 mois de Socle HTML, CSS et Javascript.</li>
          <li>1 mois de spécialisation React.</li>
          <li>1 mois de projet en équipe.</li>
        </ul>
      </div>

      <div class="aboutPage__experience__structure">
        <h3 class="aboutPage__experience__structure__name">
          Université de Strasbourg
        </h3>
        <p class="aboutPage__experience__structure__date">2017</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__poste">
        <h4 class="aboutPage__experience__poste__name">
          LICENCE de sociologie
        </h4>
        <p class="aboutPage__experience__poste__city">Distanciel</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__informations">
        <ul>
          <li>
            Mémoire sur les relations genrées entre créatifs et chefs de projets
          </li>
          <li>Mention Bien</li>
        </ul>
      </div>

      <div class="aboutPage__experience__structure">
        <h3 class="aboutPage__experience__structure__name">ISCOM</h3>
        <p class="aboutPage__experience__structure__date">2014</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__poste">
        <h4 class="aboutPage__experience__poste__name">Master I Publicité</h4>
        <p class="aboutPage__experience__poste__city">Lyon</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__informations">
        <ul>
          <li>Mémoire sur la vidéo publicitaire dans l’univers du digital</li>
          <li>Mention Bien</li>
        </ul>
      </div>
    </div>
    <div class="aboutPage__experience__pro">
      <h2 class="aboutPage__experience__title">Experience Pro</h2>
      <div class="separation"></div>

      <div class="aboutPage__experience__structure">
        <h3 class="aboutPage__experience__structure__name">
          Développeur front-end
        </h3>
        <p class="aboutPage__experience__structure__date">Decembre 2022</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__poste">
        <h4 class="aboutPage__experience__poste__name">
          Projet de fin d’étude.
        </h4>
        <p class="aboutPage__experience__poste__city">O'clock</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__informations">
        <ul>
          <li>
            Mon groupe et moi avons créé une application d’aide aux joueurs de
            jeux de gestion avec React et Node. Nous avons élaboré le cahier des
            charges et déployé le back-end et le front-end.
          </li>
        </ul>
      </div>

      <div class="aboutPage__experience__structure">
        <h3 class="aboutPage__experience__structure__name">
          Motion Designer - Directeur Artistique
        </h3>
        <p class="aboutPage__experience__structure__date">2015-2022</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__poste">
        <h4 class="aboutPage__experience__poste__name">Freelance</h4>
        <p class="aboutPage__experience__poste__city">Lyon // Paris</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__informations">
        <ul>
          <li>
            Conception, maquette, Création publicitaire, execution graphique
          </li>
          <li>
            Clients : Label Rouge, Amnesty International Sopexa, Union
            Européenne, Artefact, Publicis, Leo Burnett Paris etc.
          </li>
        </ul>
      </div>

      <div class="aboutPage__experience__structure">
        <h3 class="aboutPage__experience__structure__name">
          Enseignant Motion Design & PAO
        </h3>
        <p class="aboutPage__experience__structure__date">2019-2022</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__poste">
        <h4 class="aboutPage__experience__poste__name">Temps partiel</h4>
        <p class="aboutPage__experience__poste__city">ISCOM Lyon</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__informations">
        <ul>
          <li>En charge de classes allant de la 3e année à la 5e année.</li>
          <li>& Tuteur de mémoires professionnels</li>

          <li>Suivi, notation de l’écrit et soutenance Orale.</li>
        </ul>
      </div>

      <div class="aboutPage__experience__structure">
        <h3 class="aboutPage__experience__structure__name">
          Motion Designer - Directeur Artistique
        </h3>
        <p class="aboutPage__experience__structure__date">
          Octobre2018 - Mai 2019
        </p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__poste">
        <h4 class="aboutPage__experience__poste__name">CDD</h4>
        <p class="aboutPage__experience__poste__city">Up And Go Lyon</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__informations">
        <ul>
          <li>
            Direction Artistique des applications E-learning en accord avec les
            contraintes techniques des développeurs.
          </li>
          <li>Passation des modules E-learning de Flash à After Effect.</li>
          <li>Automatisation des animations.</li>
          <li>
            Conception de Story-board en accord avec les enjeux pédagogiques.
          </li>

          <li>Clients : Lactalis, Sanofi, SUEZ, RTE...</li>
        </ul>
      </div>

      <div class="aboutPage__experience__structure">
        <h3 class="aboutPage__experience__structure__name">
          Directeur Artistique
        </h3>
        <p class="aboutPage__experience__structure__date">2014-2015</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__poste">
        <h4 class="aboutPage__experience__poste__name">Stage & CDI</h4>
        <p class="aboutPage__experience__poste__city">Leo Burnett Paris</p>
      </div>
      <div class="separation-light"></div>
      <div class="aboutPage__experience__informations">
        <ul>
          <li>Conception de publicités médias et hors médias.</li>
          <li>Direction Artistique de plusieurs campagnes Print et films.</li>
          <li>Motion Design et création de case study.</li>
          <li>Clients : Charal, Fiat, Sidaction, Kellogg’s</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
