<%- include('partials/header') %>
<div class="contactContenair">
    <div class="contactContenair__left">
        <h2>Contact</h2>
        <p>kevin.antonietti.pro@gmail.com</p>
        <p>Tél : 06.33.76.71.26</p>
    </div>
    <%- include('partials/navSide') %>
</div>
<%- include('partials/footer') %>
