<%- include('partials/header') %>

<div class="home-container">
  <section class="presentation">
    <h1 class="presentation__title">
      <p>Kevin Antonietti</p>
      <p>Développeur frontend</p>
      <p>Javascript,</p>
      <p>React, Node.js</p>
    </h1>

    <div class="presentation__description">
      <p class="presentation__description__text">
        Après une carrière de 8 ans en tant que directeur artistique, j’ai décidé de m’orienter vers ma passion, le développement web. 
6 mois de formations plus tard, je suis à la recherche d’une entreprise pour vivre ma première expérience de développeur.

        
      </p>
      <a class="presentation__description__link" href="/about" title="Lien vers la page à propos">En savoir plus ></a>
    </div>
  </section>

  <%- include('partials/navSide') %>
</div>

<h1>Mes projets</h1>
<%- include('partials/projectOverview') %> 




<%- include('partials/footer') %>
