<%- include('partials/header') %>

<div class="home-container">
  <section class="presentation">
    <h1 class="presentation__title">
      <p>Kevin Antonietti</p>
      <p>Développeur frontend</p>
      <p>Javascript,</p>
      <p>React, Node.js</p>
    </h1>

    <div class="presentation__description">
      <p class="presentation__description__text">
        Durant mes huit années en tant que directeur artistique, j'ai eu l'opportunité de travailler avec de nombreuses entreprises et de réaliser un grand éventail de projets, allant de la création de campagnes de relations presse à la production de contenu pour les réseaux sociaux. J'ai également enseigné le motion design et la PAO pendant trois ans à l'ISCOM Lyon.
        <br>
        En 2018, grâce à une expérience de travail avec des développeurs, j'ai réalisé mon intérêt pour le développement informatique. Cette idée a germé dans mon esprit pendant plusieurs années et en 2022, j'ai finalement décidé de changer de direction dans ma carrière en suivant une formation de six mois pour devenir développeur front-end. Après avoir achevé ma formation de développeur front-end, je suis désormais à la recherche d'une entreprise pour mettre mes nouvelles compétences en pratique et vivre ma première expérience professionnelle dans ce domaine.
        
      </p>
      <a class="presentation__description__link" href="/about" title="Lien vers la page à propos">En savoir plus ></a>
    </div>
  </section>

  <%- include('partials/navSide') %>
</div>

<h1>Mes projets</h1>
<%- include('partials/projectOverview') %> 




<%- include('partials/footer') %>
