@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 4rem;
}
@media (max-width: 650px) {
  .header {
    flex-direction: column;
  }
}
.header__logo {
  width: 8rem;
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__nav__item {
  z-index: 0;
  color: white;
  padding: 1rem;
  text-decoration: none;
  position: relative;
}
.header__nav__item::after {
  z-index: -1;
  content: "";
  background-color: #f3d053;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 0%;
  height: 8px;
  transition: 0.3s ease-in-out;
  filter: blur(2px) brightness(1);
}
.header__nav__item:hover::after {
  content: "";
  width: 70%;
  filter: blur(3px) brightness(2.5);
}

.presentation {
  margin-right: 5rem;
}
.presentation__title span {
  padding-top: 1rem;
}
.presentation__description {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.8rem;
}
.presentation__description__link {
  font-weight: 700;
  font-size: 1.3rem;
}

.navSide {
  display: flex;
  flex-direction: column;
}
.navSide__wording {
  font-family: "Roboto", sans-serif;
  writing-mode: vertical-lr;
  margin: 0 auto 0;
}
@media (max-width: 650px) {
  .navSide__wording {
    font-size: 1rem;
  }
}
.navSide__line {
  margin: 1.5rem auto 0;
  border-left: solid 2px white;
  height: 6rem;
}
.navSide__picto svg {
  margin-top: 1.5rem;
  width: 1.4rem;
  fill: white;
  filter: blur(0px) brightness(1);
  transition: 0.1s ease-in;
}
.navSide__picto svg:hover {
  filter: blur(1.4px) brightness(1.5);
  fill: #f3d053;
}
@media (max-width: 650px) {
  .navSide__picto svg {
    width: 1rem;
    margin-top: 0.75rem;
  }
}

.home-container {
  display: flex;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectOverview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projectOverview .projectOverview__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 48%;
  height: 350px;
}
@media (max-width: 950px) {
  .projectOverview .projectOverview__container {
    width: 90%;
    height: 250px;
  }
}
.projectOverview .projectOverview__container__preview {
  height: 80%;
  position: relative;
}
.projectOverview .projectOverview__container__preview img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.projectOverview .projectOverview__container__title {
  display: flex;
  margin: 1rem 0 1rem;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.img-01 {
  z-index: 2;
  opacity: 1;
}

.img-02 {
  z-index: 1;
  opacity: 0;
  filter: sepia(60%) blur(50) brightness(1.5);
}

.img-01:hover {
  opacity: 0;
}

.img-01:hover ~ .img-02 {
  opacity: 1;
  filter: sepia(70%) blur(0) brightness(1);
}

body {
  background-color: black;
  color: white;
  font-size: 20px;
}

h1 {
  font-size: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  font-family: "Abril Fatface", serif;
  letter-spacing: 0.2rem;
}

.container {
  margin: auto;
  width: 75vw;
  padding-top: 2rem;
}
@media (max-width: 650px) {
  .container {
    width: 90vw;
  }
}

/*# sourceMappingURL=style.css.map */
