@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 4rem;
}
@media (max-width: 650px) {
  .header {
    flex-direction: column;
  }
}
.header__logo {
  width: 8rem;
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__nav__item {
  z-index: 0;
  color: white;
  padding: 1rem;
  text-decoration: none;
  position: relative;
}
.header__nav__item::after {
  z-index: -1;
  content: "";
  background-color: #f3d053;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 0%;
  height: 8px;
  transition: 0.3s ease-in-out;
  filter: blur(2px) brightness(1);
}
.header__nav__item:hover::after {
  content: "";
  width: 70%;
  filter: blur(1px) brightness(1.1);
}

.presentation {
  margin-right: 5rem;
}
.presentation__title {
  display: flex;
}
.presentation__title span {
  padding-top: 1rem;
}
.presentation__description {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.8rem;
}
.presentation__description__link {
  font-weight: 700;
  font-size: 1.3rem;
}

.navSide {
  display: flex;
  flex-direction: column;
}
.navSide__wording {
  font-family: "Roboto", sans-serif;
  writing-mode: vertical-lr;
  margin: 0 auto 0;
}
@media (max-width: 650px) {
  .navSide__wording {
    font-size: 1rem;
  }
}
.navSide__line {
  margin: 1.5rem auto 0;
  border-left: solid 2px white;
  height: 6rem;
}
.navSide__picto svg {
  margin-top: 1.5rem;
  width: 1.4rem;
  fill: white;
  filter: blur(0px) brightness(1);
  transition: 0.1s ease-in;
}
.navSide__picto svg:hover {
  filter: blur(1.4px) brightness(1.5);
  fill: #f3d053;
}
@media (max-width: 650px) {
  .navSide__picto svg {
    width: 1rem;
    margin-top: 0.75rem;
  }
}

.home-container {
  display: flex;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectOverview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projectOverview .projectOverview__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 48%;
  height: 400px;
}
@media (max-width: 950px) {
  .projectOverview .projectOverview__container {
    width: 90%;
    height: 350px;
  }
}
.projectOverview .projectOverview__container__preview {
  height: 100%;
  position: relative;
}
.projectOverview .projectOverview__container__preview img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.projectOverview .projectOverview__container__separation {
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.705);
  margin: 0.7rem 0 0.7rem;
}
.projectOverview .projectOverview__container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectOverview .projectOverview__container__title__name__project {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
@media (max-width: 950px) {
  .projectOverview .projectOverview__container__title__name__project {
    font-size: 1.5rem;
  }
}
.projectOverview .projectOverview__container__title__name__type {
  font-size: 1rem;
  margin-top: 0.3rem;
}
@media (max-width: 950px) {
  .projectOverview .projectOverview__container__title__name__type {
    font-size: 0.8rem;
  }
}
.projectOverview .projectOverview__container__title__id {
  font-size: 1rem;
  padding-bottom: 0.1rem;
}
@media (max-width: 950px) {
  .projectOverview .projectOverview__container__title__id {
    font-size: 0.8rem;
  }
}
.projectOverview .projectOverview__container__next {
  display: flex;
  align-items: center;
}
.projectOverview .projectOverview__container__next__left {
  padding-right: 1rem;
}
.projectOverview .projectOverview__container__next__left__description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 800;
}
@media (max-width: 950px) {
  .projectOverview .projectOverview__container__next__left__description {
    font-size: 1rem;
  }
}
.projectOverview .projectOverview__container__next__left__tags {
  margin-top: 0.3rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 950px) {
  .projectOverview .projectOverview__container__next__left__tags {
    font-size: 0.8rem;
  }
}
.projectOverview .projectOverview__container__next__link {
  text-decoration: none;
}
.projectOverview .projectOverview__container__next__link svg {
  width: 35px;
  fill: rgba(255, 255, 255, 0.705);
  filter: blur(0px) brightness(1);
  transition: 0.1s ease-in;
}
@media (max-width: 950px) {
  .projectOverview .projectOverview__container__next__link svg {
    width: 25px;
  }
}
.projectOverview .projectOverview__container__next__link svg:hover {
  filter: blur(1.4px) brightness(1.5);
  fill: #f3d053;
}

.img-01 {
  z-index: 2;
  opacity: 1;
}

.img-02 {
  z-index: 1;
  opacity: 0;
  filter: sepia(60%) blur(100) brightness(1.5);
}

.img-01:hover {
  opacity: 0;
}

.img-01:hover ~ .img-02 {
  opacity: 1;
  filter: sepia(10%) blur(0) brightness(1);
}

.projectHeader {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
}
.projectHeader__role {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
  padding-left: 0.2rem;
}
.projectHeader__title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.projectHeader__title__name {
  display: flex;
  align-items: baseline;
  font-size: 7rem;
  padding-bottom: 1rem;
}
@media (max-width: 1060px) {
  .projectHeader__title__name {
    font-size: 5rem;
  }
}
@media (max-width: 780px) {
  .projectHeader__title__name {
    font-size: 3rem;
  }
}
.projectHeader__separation {
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.705);
  margin: 1.5rem 0 1.5rem;
}
.projectHeader__separation__lateral {
  border-right: 0.7px solid rgba(255, 255, 255, 0.705);
}
.projectHeader__introduction {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .projectHeader__introduction {
    font-size: 1rem;
  }
}
.projectHeader__information {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .projectHeader__information {
    font-size: 1rem;
  }
}
@media (max-width: 580px) {
  .projectHeader__information {
    font-size: 0.7rem;
  }
}
.projectHeader__description {
  line-height: 2rem;
}
@media (max-width: 1060px) {
  .projectHeader__description {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 780px) {
  .projectHeader__description {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
.projectHeader__link {
  display: flex;
}
.projectHeader__link__website {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 4rem;
}
.projectHeader__link__website__svg {
  width: 35px;
  margin-left: 1rem;
  fill: rgba(255, 255, 255, 0.705);
  filter: blur(0px) brightness(1);
  transition: 0.1s ease-in;
}
.projectHeader__link__github {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.projectHeader__link__github__svg {
  width: 35px;
  margin-left: 1rem;
  fill: rgba(255, 255, 255, 0.705);
  filter: blur(0px) brightness(1);
  transition: 0.1s ease-in;
}

.projectGallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 7rem;
}
.projectGallery img {
  padding-bottom: 1rem;
}

.inconBack {
  text-decoration: none;
  color: white;
  margin: 3rem auto;
}

.projectHeader__link__website__svg:hover {
  filter: blur(1.4px) brightness(1.5);
  fill: #f3d053;
}

.projectHeader__link__website__p:hover ~ .projectHeader__link__website__svg {
  filter: blur(1.4px) brightness(1.5);
  fill: #f3d053;
}

.projectHeader__link__github__svg:hover {
  filter: blur(1.4px) brightness(1.5);
  fill: #f3d053;
}

.projectHeader__link__github__p:hover ~ .projectHeader__link__github__svg {
  filter: blur(1.4px) brightness(1.5);
  fill: #f3d053;
}

body {
  background-color: #1d1d1d;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
}

h1 {
  font-size: 5rem;
  line-height: 7rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  font-family: "Abril Fatface", serif;
  letter-spacing: 0.2rem;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media (max-width: 1280px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.container {
  margin: auto;
  width: 75vw;
  padding-top: 2rem;
}
@media (max-width: 650px) {
  .container {
    width: 85vw;
  }
}

/*# sourceMappingURL=style.css.map */
