@use "vars";

.aboutPage {
  &__header {
    display: flex;
    justify-content: space-around;

    &__left {
      margin-right: 1.5rem;

      &__up {
        display: flex;
        align-self: stretch;

        &__title {
          display: flex;

          & p {
            padding-top: 1rem;
          }
        }
      }

      &__down {
        display: flex;

        @media (max-width: 650px) {
          flex-direction: column;
        }

        &__img {
          width: 20%;
          margin-right: 3rem;

          @media (max-width: 1470px) {
            width: 30%;
          }

          @media (max-width: 1280px) {
            width: 35%;
          }

          @media (max-width: 650px) {
            margin-bottom: 1rem;
          }

          & img {
            width: 100%;
          }
        }

        &__description {
          width: 70%;
          display: flex;
          flex-wrap: wrap;
          font-family: vars.$font-second;
          letter-spacing: 0.2rem;
          line-height: 1.8rem;
          padding-right: 1rem;

          @media (max-width: 1470px) {
            font-size: 1.1rem;
            line-height: 1.8rem;
          }

          @media (max-width: 1280px) {
            font-size: 1.1rem;
            line-height: 1.6rem;
          }

          @media (max-width: 1000px) {
            font-size: 0.8rem;
            line-height: 1.4rem;
          }

          @media (max-width: 650px) {
            width: 100%;
            font-size: 1rem;
            line-height: 1.4rem;
          }
        }
      }
    }
  }

  &__experience {
    margin-top: 4rem;
    margin-bottom: 4rem;

    &__formation {
      &__title {
        font-family: vars.$font-first;
        font-size: 1.5rem;
      }
    }
  }
}

.separation {
  border-bottom: 0.7px solid vars.$color-grey;
      margin: 0.7rem 0 0.7rem;
    }