@use 'vars';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: vars.$font-second;
    margin-bottom: 4rem;

    @media (max-width: 650px) {
    flex-direction: column;
    }

    &__lightMode {
     

        &__svg{
    
            #rectangle-underline {  
                fill: none; 
                stroke: #fff;
                stroke-miterlimit: 10;
                stroke-width: 1px;
            }

            #rectangle {   
                fill: none;
                stroke: vars.$color-display;
                filter: blur(1.4px);
                stroke-miterlimit: 10;
                stroke-width: 2px;
                }

            #Typo {
            fill: vars.$color-display;
            filter: blur(1.4px);
           
            }
            #Underline {
                fill: none;
                stroke: vars.$color-text;
                stroke-linecap: round;
                stroke-width: 1px;
            }

        }
    }

        &__logo {
            width: 8rem;
            &__svg {
            fill: vars.$color-text;
            }
        }

        &__nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

                &__item {
                    z-index: 0;
                    color: inherit;
                    padding: 1rem;
                    text-decoration: none;
                    position: relative;
                    @media (max-width: 450px) {
                        font-size: 0.9rem ;
                      }

                    
                    &::after{
                        z-index: -1;
                        content: '';
                        background-color: rgba(vars.$color-display,1);
                        position: absolute;
                        left: 1rem;
                        bottom: 1rem;
                        width: 0%;
                        height: 8px;
                        transition: 0.3s ease-in-out;
                        filter: blur(2px) brightness(1);
                        }
                     
                        &:hover {
                            &::after{
                                content: '';
                                width: 70%;
                                filter: blur(1px) brightness(1.1);                             
                               
                            }
                        }
                    }
               
        }
}
