@use 'vars';

.presentation {
    margin-right: 5rem;

    &__title {
        display: flex;
        & span {
            padding-top: 1rem;
        }
    }

    &__description {
        display: flex;
        flex-wrap: wrap;
        font-family: vars.$font-second;
        letter-spacing: 0.2rem;
        line-height: 1.8rem;     

        &__link {
            font-weight: 700;
            font-size: 1.3rem;
        }
    }
}