@use 'vars';

.presentation {
    margin-right: 5rem;

    &__title {
        font-size: 3.5rem;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 4rem;
        font-family: vars.$first-font;
        letter-spacing: 0.2rem;

        & span {
            padding-top: 1rem;
        }
    }

    &__description {
        display: flex;
        flex-wrap: wrap;
        font-family: vars.$second-font;
        letter-spacing: 0.2rem;
        line-height: 1.8rem;     

        &__link {
            font-weight: 700;
            font-size: 1.3rem;
        }
    }
}