@use 'vars';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: vars.$font-second;
    margin-bottom: 4rem;

    @media (max-width: 650px) {
    flex-direction: column;
    }

        &__logo {
            width: 8rem;
            color: aqua;
            & img {
            fill: aqua;
            }
        }

        &__nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

                &__item {
                    z-index: 0;
                    color: vars.$color-text;
                    padding: 1rem;
                    text-decoration: none;
                    position: relative;
                    @media (max-width: 450px) {
                        font-size: 0.9rem ;
                      }
                    
                    &::after{
                        z-index: -1;
                        content: '';
                        background-color: rgba(vars.$color-display,1);
                        position: absolute;
                        left: 1rem;
                        bottom: 1rem;
                        width: 0%;
                        height: 8px;
                        transition: 0.3s ease-in-out;
                        filter: blur(2px) brightness(1);
                        }
                     
                        &:hover {
                            &::after{
                                content: '';
                                width: 70%;
                                filter: blur(1px) brightness(1.1);                             
                               
                            }
                        }
                    }
               
        }
}
