@use "vars";

.navSide {
  display: flex;
  flex-direction: column;

  &__wording {
    font-family: vars.$font-second;
    writing-mode: vertical-lr;
    margin: 0 auto 0;
    @media (max-width: 650px) {
      font-size: 1rem;
    }
  }
  &__line {
    margin: 1.5rem auto 0;
    border-left: solid 2px;
    height: 6rem;
  }

  &__picto {
    &__svg {
        margin-top: 1.5rem;
        width: 24px;
        height: 24px;
        fill: vars.$color-text;
        filter: blur(0px) brightness(1);
        transition: 0.1s ease-in;

        
        &:hover {
            filter: blur(1.4px) brightness(1.5);
            fill: vars.$color-display;
        }

      @media (max-width: 650px) {
        width: 1rem;
        margin-top: 0.75rem;
        }
    }
  }
}


