@use "vars";

.projectOverview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .projectOverview__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 48%;
    height: 400px;

    @media (max-width: 950px) {
      width: 90%;
      height: 350px;
    }

    &__preview {
      height: 100%;
      position: relative;

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: 0.5s ease-in-out;
      }
    }

    &__separation {
      border-bottom: 0.7px solid vars.$color-grey;
      margin: 0.7rem 0 0.7rem;
    }
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      &__name {
        &__project {
          font-size: 2rem;
          font-family: vars.$font-second;
          font-weight: 700;
          @media (max-width: 950px) {
            font-size: 1.5rem;
          }
        }

        &__type {
          font-size: 1rem;
          margin-top: 0.3rem;
          @media (max-width: 950px) {
            font-size: 0.8rem;
          }
        }
      }

      &__id {
        font-size: 1rem;
        padding-bottom: 0.1rem;
        @media (max-width: 950px) {
          font-size: 0.8rem;
        }
      }
    }
    &__next {
      display: flex;
      align-items: center;
      &__left {
        padding-right: 1rem;
        &__description {
          font-size: 1.2rem;
          line-height: 1.5rem;
          font-weight: 800;
          @media (max-width: 950px) {
            font-size: 1rem;
          }
        }
        &__tags {
          margin-top: 0.3rem;
          color: vars.$color-text;
          font-family: vars.$font-second;
          font-size: 1rem;
          font-weight: 300;
          @media (max-width: 950px) {
            font-size: 0.8rem;
          }
        }
      }

      &__link {
        text-decoration: none;
        & svg {
          width: 35px;
          fill: vars.$color-grey;
          filter: blur(0px) brightness(1);
          transition: 0.1s ease-in;
          @media (max-width: 950px) {
            width: 25px;
          }

          &:hover {
            filter: blur(1.4px) brightness(1.5);
            fill: vars.$color-display;
          }
        }
      }
    }
  }
}

.img-01 {
  z-index: 2;
  opacity: 1;
}
.img-02 {
  z-index: 1;
  opacity: 0;
  filter: sepia(60%) blur(100) brightness(1.5);
}

.img-01:hover {
  opacity: 0;
}

.img-01:hover ~ .img-02 {
  opacity: 1;
  filter: sepia(10%) blur(0) brightness(1);
}
